.tabs-container {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.menu-btn-container {
    position: absolute;
    right: 0;
    top: 0;
}

.section-titles-mobile-outer-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--darkergray);
    overflow: hidden;
    width: 100%;
    transition: width .3s;
    display: flex;
    align-items: center;
    text-align: center;
}

.hidden {
    width: 0;
    overflow: hidden;
}

.section-titles-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.section-titles-container button {
    padding: 8px 2px;
    text-align: center;
    cursor: pointer;
    border: none;
    color: var(--white);
    font-weight: 600;
    background-color: transparent;
}

.section-titles-container *+* {
    margin-top: 24px;
}

.section-titles-container button.active,
.section-titles-container button:hover {
    background-color: var(--lightgray);
    color: var(--black);
}

.contents {
    background-color: var(--gray);
    flex: 1;
    padding: 16px;
    height: 100%;
}

.close-btn-container {
    position: absolute;
    top: 0;
    right: 0;
}

/* Styling for desktop */
@media (min-width: 720px) {
    .section-titles-outer-container {
        padding-top: 24px;
        min-width: 360px;
        height: 100%;
    }

    .section-titles-container {
        padding-top: 24px;
    }

    .section-titles-container *+* {
        margin-top: 0;
    }

    .section-titles-container button {
        color: var(--black);
        background-color: var(--white);
        padding: 16px 0 16px 24px;
        font-weight: bold;
        text-align: left;
    }

    .contents {
        border-left: 2px solid var(--darkgray);
        padding-top: 24px;
        padding-left: 48px;
    }
}