.tabs-container {
    display: flex;
    height: 100%;
    /* position: relative; */
}

.menu-btn-container {
    position: absolute;
    right: 0;
    top: 0;
}

.section-titles-outer-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
}

.section-titles-container {
    display: flex;
    flex-direction: column;
    padding: 60px 0 20px;
    margin: 0;
    border-right: 2px solid var(--darkgray);
    position: relative;
}

.section-titles-container.hidden {
    display: none
}

.section-titles-container button {
    padding: 8px 2px;
    text-align: left;
    cursor: pointer;
    border: none;
    background-color: var(--white);
    font-weight: 600;
    font-size: 12px;
}

.section-titles-container button.active,
.section-titles-container button:hover {
    background-color: var(--lightgray);
}

.contents {
    background-color: var(--gray);
    flex: 1;
    padding: 0;
}

.close-btn-container {
    position: absolute;
    top: 0;
    right: 0;
}

/* Styling when screensize is bigger than the tablet size */
@media (min-width: 768px) {
    .section-titles-container {
        min-width: 360px;
        height: 100%;
    }

    .section-titles-container button {
        padding: 16px 0 16px 24px;
        font-weight: bold;
    }

    .contents {
        padding: 24px 0 0 48px;
    }
}