.mario-container {
    height: 100%;
}

.img-container {
    width: 100%;
}

.inner-wrapper {
    max-width: 600px;
}

.img-ratio {
    position: relative;
    padding-bottom: 56.25%;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.buttons-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.buttons-section *+* {
    margin-top: 18px;
}

@media (min-width: 720px) {
    .buttons-section {
        display: flex;
        flex-direction: row;
    }

    .buttons-section *+* {
        margin-top: 0;
        margin-left: 8px;
    }
}